.tileContainer {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5em;
    box-sizing: border-box;
    gap: 10px;
    justify-content: left;
    cursor: default;
    overflow-x: scroll;
    pointer-events: auto;
}

.tile {
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 5 / 7;
    background: black;

    border: 5px solid var(--color1);
    box-shadow: 5px 5px 5px inset black;
    transition: all var(--transitionspeed);
}

.tile:hover {
    margin: 0 3em 0 3em;
    border-width: 10px;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform var(--transitionspeed) ease-out;
}

/*LOADERRRRR from cssloaders.com*/
loader {
  width: fit-content;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  color: #0000;
  text-shadow: 0 0 0 #000,10ch 0 0 #000;
  background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
  animation: l14 1.5s infinite;
}
loader:before {
  content: "Loading...";
}
@keyframes l14 {
    80%  {text-shadow:    0  0 0 #000,10ch 0 0 #000;background-size:100% 3px}
    100% {text-shadow: -10ch 0 0 #000,0    0 0 #000}
}

@keyframes shimmy

/*3.5s infinite ease-in-out forwards;*/
    {
    50% {
        background-position: 50vw 0
    }
}

@keyframes wave {
    50% {
        top: 120px;
    }
}

@keyframes whirl {
    0% {
        transform: rotate(0deg) translate(-50px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-50px) rotate(-360deg);
    }
}