@font-face {
    font-family: "Raccoon";
    src: url('fonts/RaccoonSerif-Mini.otf');
}

@font-face {
    font-family: "Abaddon";
    src: url('fonts/Abaddon Light.ttf');
}

@font-face {
    font-family: "Peaberry";
    src: url('fonts/PeaberryMono.ttf');
}

@font-face {
    font-family: "AtariGames";
    src: url('fonts/AtariGames.ttf');
}

:root {
    --pulsespeed: 1.5s;
    --bodyfont: Abaddon;
    --headfont: AtariGames;
}

body {
    font-family: var(--bodyfont);
}

button {
    width: 20ch;
    font-family: var(--bodyfont);
    margin: 0 auto;
    font-size: calc(var(--fontsize) * 2);
}

lettergrade {
    font-family: var(--headfont);
    font-weight: lighter;
}

h1 {
    font-family: var(--headfont);
    text-align: center;
    font-size: calc(var(--fontsize) * 3);
}

tick {
    opacity: 0.7;
    transition: opacity 0.1s ease, background-color 0.1s ease;
}

tick[aria-pressed="true"] {
    opacity: 0.95;
    background-color: brown;
}

hpbar::after {
    transition: width 0.2s ease;
    opacity: 1;
}

hpbar::before {
    animation: pulse var(--pulsespeed) ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        filter: brightness(0.9);
    }

    10% {
        transform: scale(1.15);
        filter: brightness(1.4);
    }

    25% {
        filter: brightness(1)
    }
}

overlay {
    bottom: 0;
    width: 100%;
    height: var(--bottompadding);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    backdrop-filter: blur(5px);
}