@font-face {
    font-family: "Raccoon";
    src: url('style/fonts/RaccoonSerif-Medium.otf');
}

@font-face {
    font-family: "Abaddon";
    src: url('style/fonts/Abaddon Light.ttf');
}

@font-face {
    font-family: "Peaberry";
    src: url('style/fonts/PeaberryMono.ttf');
}

@font-face {
    font-family: "Acme";
    src: url('style/fonts/Grixel Acme 9 Regular Bold Regular.ttf')
}

@font-face {
    font-family: "starcrush";
    src: url('style/fonts/Star Crush.otf')
}

@font-face {
    font-family: "CyrillicPixel";
    src: url('style/fonts/CyrillicPixel7-LPeg.ttf')
}

@font-face {
    font-family: "DotGothic";
    src: url('style/fonts/DotGothic16-Regular.ttf')
}

:root {
    --bottompadding: 10vh;
    --barwidth: 10px;
    --tickheight: 18px;
    --tickgap: calc(var(--tickheight) * 1.5);
    --hpwidth: 10px;
    --heartsize: calc(var(--hpwidth) + 20px);
    --pulsespeed: 1.5s;
    --transitionspeed: 0.2s;

    --beatlength: 0.5s;
    --ticktransitionspeed: calc(var(--beatlength) / 4);

    --cursor: none;

    --fontsize: 18px;
    --bodyfont: verdana, Abaddon, DotGothic, monospace;
    --headfont: monospace, Raccoon, CyrillicPixel, Acme, serif;
    --radius: 3px;

    --bgcolor: rgb(100, 100, 100);
    --color1: rgb(0, 0, 255);
    --color2: red;
    --trackcolor: rgba(255, 255, 255, 0.5);
    --hpcolor: darkolivegreen;
    --textcolor: white;
    --tickcolor: var(--color2);
    --bordercolor: var(--color2);
    --notecolor: wheat;
}

body {
    align-items: center;
    text-align: justify;
    margin: 0;
    min-height: 100vh;
    line-height: 0.9;
    font-size: var(--fontsize);
    overflow: hidden;
    cursor: var(--cursor);
    font-family: var(--bodyfont);
    background-color: var(--bgcolor);
    color: var(--textcolor);

    user-select: none;

    display: flex;
    flex-direction: column;
}

#appContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border: 2px var(--bordercolor);
    box-sizing: border-box;
}

canvas,
#allthestuff,
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    mix-blend-mode: normal;
    overflow: hidden
}

#wave-canvas {
    opacity: 0.1
}

#allthestuff,
#loading-screen,
#jpg-canvas {
    z-index: 10000000
}

#titlebar {
    width: 100%;
    height: 30px;
    background: var(--bordercolor);
    -webkit-app-region: drag;
    z-index: 1000000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #titlebar:active {
    cursor: grabbing !important;
} */

controlButtonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: var(--transitionspeed) all;
    cursor: default;
    box-sizing: border-box;
    opacity: 1;
    background: var(--bordercolor);
    height: 100%;
    margin-right: 2px;
    z-index: 10000000000000000
        /*TODO fix fullscreen time span covering it*/
}

windowControlButton {
    height: 100%;
    width: 4ch;
    cursor: pointer;
    app-region: no-drag;
}

windowControlButton,
#gameName {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#gameName {
    margin-left: 2ch
}

windowControlButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#tileContainer {
    min-height: 0;

    display: flex;
    flex-direction: column;
    padding: 50vh 3em 50vh 3em;
    box-sizing: border-box;
    gap: 10px;
    justify-content: left;
    align-items: center;
    cursor: default;
    pointer-events: auto;

    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.tile {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: center;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 2px solid var(--color1);
    transition: all var(--transitionspeed);
    border-radius: var(--radius);
}

#songInfo {
    height: 100%;
    background: var(--notecolor);
    flex: 40%;
    /*TODO fixme*/
    z-index: -3
        /*TODO why no vignette*/
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 5px var(--textcolor), 0px 0px 5px slategray;
    }

    to {
        text-shadow: 0px 0px 10px var(--textcolor), 0px 0px 20px slategray;
    }
}

.tile[selected] {
    outline: 5px solid var(--color1);
    margin: 0 20px;
    animation: glow 2s infinite alternate, flickerglow 3s infinite;
    margin: 1ch
}

@keyframes flickerglow {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        box-shadow: inset 0px 0px 8px var(--textcolor)
    }

    20%,
    24%,
    55% {
        box-shadow: inset 0px 0px 2px var(--textcolor)
    }
}

.tile:not([selected]) .photo {
    filter: contrast(0.8) blur(1px);
    opacity: 0.5
}

.tile button.menubutton {
    right: 0;
    aspect-ratio: 1/1;
    height: 1ch;
    width: 1ch;
    order: 2
}

.photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    transition: transform var(--transitionspeed) ease-out;
    z-index: -1;
    filter: contrast(0.9) brightness(0.9) saturate(1.1);
    opacity: 0.8;
}

#loading-screen {
    background: black;
    z-index: 99999999999
}

/*LOADERRRRR from cssloaders.com*/
loader {
    width: fit-content;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    overflow: hidden;
    color: #0000;
    text-shadow: 0 0 0 #000, 10ch 0 0 #000;
    background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
    animation: l14 1.5s infinite;
}

loader:before {
    content: "Loading...";
}

@keyframes l14 {
    80% {
        text-shadow: 0 0 0 #000, 10ch 0 0 #000;
        background-size: 100% 3px
    }

    100% {
        text-shadow: -10ch 0 0 #000, 0 0 0 #000
    }
}

@keyframes shimmy

/*3.5s infinite ease-in-out forwards;*/
    {
    50% {
        background-position: 50vw 0
    }
}

@keyframes wave {
    50% {
        top: 120px;
    }
}

@keyframes whirl {
    0% {
        transform: rotate(0deg) translate(-50px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-50px) rotate(-360deg);
    }
}

button.menubutton {
    position: relative;
    bottom: 0;
    width: 100%;
}

#title {
    pointer-events: auto;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5rem
}

button {
    width: 20ch;
    font-family: var(--bodyfont);
    margin: 0 auto;
    font-size: calc(var(--fontsize) * 2);
    cursor: pointer;
    pointer-events: auto;
}

note {
    display: block;
    border-radius: var(--radius);
    background: var(--notecolor);
    height: 5px;
    width: var(--tickheight);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 100%;
    top: 0px
}

note.hold {
    height: 30px
}

note[aria-active=false] {
    opacity: 0.1;
    animation: redden 0.1s ease-out;
    background: red;
}

note.perc {
    /*https://github.com/taigrr/spank
    https://github.com/mithun-srinivasan/spank-for-windows adjust sensitivity*/
    width: 30px;
    height: 10px;
    mask-image: url('style/icons/cross.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
}

@keyframes redden {
    0% {
        background: var(--notecolor);
        opacity: 1
    }

    100% {
        background: red;
        opacity: 0.1;
    }
}

column {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100%
}

marquee {
    box-shadow: 2px 0px 2px inset var(--bgcolor), -2px 0px 2px var(--bgcolor)
}

sidecolumn {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: spacebetween;
    position: relative;
}

lettergrade {
    font-size: calc(var(--fontsize) * 10);
    width: 1ch;
    height: 150px;
    position: relative;
    text-align: center;
    font-family: var(--headfont);
}

h1 {
    font-family: var(--headfont);
    text-align: center;
    font-size: calc(var(--fontsize) * 3);
    margin: 0;
}

plusminus {
    font-size: 70px;
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-1ch);
    font-family: var(--headfont);
}

scorebar {
    display: block;
    height: calc(150px + 1lh);
    width: calc(var(--barwidth) * 2);
    background-color: var(--color1);
    margin-left: calc(var(--barwidth) * 3);
    bottom: 0;
    border-radius: var(--radius);
}

songname {
    width: 100%;
    margin: 50px;
    text-align: center;
}

#infobox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: fit-content;
}

#scorebox {
    display: flex;
    align-items: center;
    flex-direction: column
}

accuracy {
    display: block;
    text-align: center;
    height: 1lh;
}

notecontainer {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(119, 136, 153, 0.4);
}

hitline {
    height: 1px;
    background-color: var(--tickcolor);
    width: 100%;
    position: absolute;
    z-index: 60;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    bottom: 0;
    box-sizing: border-box;
    /* gap: var(--tickgap); */
    /* padding: 0 var(--tickgap) 0 var(--tickgap); */
}

hitlinelight {
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    /*TODO z-index instead?*/
    z-index: -3;
    opacity: 0;
    /* animation: var(--beatlength) infinite lightup; */
}

hitline[litup='on'].hitlinelight {
    background: linear-gradient(to top, var(--color1), transparent);
    opacity: 0.3
}

hitline[litup='strong'].hitlinelight {
    box-shadow: 0px -20px 25px -20px;
    opacity: 0.5
}

beat {
    background: var(--trackcolor);
    height: 1px;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    display: flex;
    align-items: center;
}

beatnumber {
    right: -100%;
    color: var(--trackcolor);
    font-size: small;
    position: relative;
    margin-left: 5px
}

ticksection {
    display: flex;
    width: calc(var(--tickheight) * 5);
    /* gap: calc(var(--tickheight) * 0.2); */
    justify-content: space-between;
    align-items: center;
}

tick {
    height: var(--tickheight);
    width: var(--tickheight);
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: -2;
    /* border: 1px solid var(--tickcolor); */
    margin: 0 auto;
    border-radius: var(--radius);
    transition: var(--ticktransitionspeed) all;
}

#Slane,
#Jlane {
    order: 1
}

#Dlane,
#Klane {
    order: 2
}

#Flane,
#Llane {
    order: 3
}

#spacelane {
    border-radius: 100px;
}

tick[aria-pressed="true"] {
    background-color: magenta;
    background-blend-mode: difference;
}

track {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(var(--bottompadding));
    bottom: var(--bottompadding);
    width: 1px;
    height: 100vh;
    background: linear-gradient(to top, var(--trackcolor), transparent);
    z-index: -3;
}

songprogress {
    top: 0;
    left: 0;
    height: var(--barwidth);
    background-color: var(--color1);
    position: absolute;
    opacity: 0.75;
    z-index: 999;
    border-bottom-right-radius: var(--radius);
    transition: top var(--transitionspeed) ease;
}

gutter {
    bottom: 0;
    width: 100%;
    height: var(--bottompadding);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 4;
    order: 2;
    /* backdrop-filter: blur(5px); */
}

hpbar {
    height: var(--hpwidth);
    /* border: 1px solid var(--color1); */
    box-sizing: border-box;
    width: 80%;
    position: absolute;
    display: flex;
    z-index: 2;
    background-color: var(--hpcolor);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-right: 15%;
    margin-left: calc(15% + calc(var(--heartsize)/2));
    align-items: center;
    bottom: var(--bottompadding);
}

hpbar::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: var(--hp);
    max-width: 100%;
    z-index: 1;
    transition: width var(--transitionspeed) ease;
    opacity: 1;
    background-color: var(--hpcolor);
    background: forestgreen
}

#heart {
    content: '';
    display: flex;
    position: absolute;
    aspect-ratio: 1 / 1;
    height: var(--heartsize);
    z-index: 3;
    animation: pulse var(--pulsespeed) ease-in-out infinite;
    /* clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); */
    justify-content: center;
    align-items: center;
    font-size: small;
    background-image: url('style/icons/heart.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: calc(var(--heartsize) / -2)
}

countdownnumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    z-index: 100;
    font-family: var(--headfont);
    border: 4px solid var(--textcolor);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--bgcolor);
    box-shadow: 0px 0px 50px 10px black inset;
    overflow: hidden;
    text-align: center;
}

countdowncircle {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 100000000000;
    border: 5px solid var(--textcolor)
}

countdowncircle svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(50% at 50% 50%);
}

modal {
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    z-index: 69;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    outline: 5px solid var(--color1);
    outline-offset: -10px;
    border: 3px solid var(--color1);
    background-color: wheat;
}

#quitButton,
#restartButton {
    aspect-ratio: 1 / 1;
    width: 80px;
    border: none;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    background: var(--textcolor);
}

#pausemodal,
#deathmsg {
    visibility: hidden;
}

#pausemodal {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px) brightness(0.5);
    position: absolute
}

#comboCounterContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    width: 100%;
}

#comboCounter {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    height: fit-content;
    font-size: calc(var(--fontsize) * 2);
    z-index: 10;
    margin-top: 2lh;
    /* animation: slidedown 0.1s ease; */
}

#counterAfter {
    text-transform: lowercase;
    font-size: var(--fontsize);
    text-align: center;
}

modal img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slidedown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        filter: brightness(0.9);
    }

    10% {
        transform: scale(1.15);
        filter: brightness(1.4);
    }

    25% {
        filter: brightness(1)
    }
}

blurring {
    backdrop-filter: blur(8px);
    z-index: 68;
    background-color: rgba(0, 0, 0, 0.2);
}

flexcolumn {
    flex: 1;
    display: flex;
    align-items: center;
}

#creditsLink {
    position: fixed;
    bottom: 2lh;
    right: 2lh;
    /* cursor: pointer;
    pointer-events: all; */
}

/* #creditsLink :hover {
    text-decoration: underline;
} */

#timestamp {
    transition: var(--transitionspeed);
    position: absolute;
    display: block;
    right: 1ch;
}