@font-face {
    font-family: "Raccoon";
    src: url('style/fonts/RaccoonSerif-Mini.otf');
}

@font-face {
    font-family: "Abaddon";
    src: url('style/fonts/Abaddon Light.ttf');
}

@font-face {
    font-family: "Peaberry";
    src: url('style/fonts/PeaberryMono.ttf');
}

@font-face {
    font-family: "AtariGames";
    src: url('style/fonts/AtariGames.ttf');
}

@font-face {
    font-family: "Acme";
    src: url('style/fonts/Grixel Acme 9 Regular Bold Regular.ttf')
}

@font-face {
    font-family: "CyrillicPixel";
    src: url('style/fonts/CyrillicPixel7-LPeg.ttf')
}

@font-face {
    font-family: "DotGothic";
    src: url('style/fonts/DotGothic16-Regular.ttf')
}

:root {
    --bottompadding: 10vh;
    --barwidth: 10px;
    --tickheight: 20px;
    --tickgap: calc(var(--tickheight) * 1.5);
    --hpwidth: 1.5em;
    --heartsize: calc(var(--hpwidth) + 20px);
    --pulsespeed: 1.5s;
    --countdownouterspinnerwidth: calc(var(--barwidth) * 2);
    --countdownsize: 50vh;
    --titlebarheight: 30px;
    --transitionspeed: 0.2s;

    --cursor: none;

    --fontsize: 18px;
    --bodyfont: Abaddon, DotGothic;
    --headfont: AtariGames, Acme, CyrillicPixel;

    --color1: blue;
    --hpcolor: darkolivegreen;
    --radius: 3px;
    --bgcolor: gray;
    --textcolor: black;
    --tickcolor: red;
    --accentcolor: rgba(128, 0, 128, 0.2);
    --trackcolor: white;
    --titlebarcolor: red;
}

titlebar {
    width: 100%;
    height: var(--titlebarheight);
    background: var(--titlebarcolor);
    -webkit-app-region: drag;
    z-index: 1000000000;
    /* cursor: grab !important; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontsize)
}

titlebar:active {
    cursor: grabbing !important;
    /*FIXME*/
}

controlButtonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: var(--transitionspeed) all;
    cursor: default;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
    opacity: 1;
    background: var(--titlebarcolor);
    height: 100%;
}

windowControlButton {
    height: 100%;
    width: 4ch;
    cursor: pointer;
    app-region: no-drag;
}

windowControlButton, #gameName {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

windowControlButton:hover {
    filter: brightness(2);
    border-bottom: 2px solid blue;
}

body {
    align-items: center;
    text-align: justify;
    margin: 0;
    min-height: 100vh;
    font-size: var(--fontsize);
    font-family: 'Times New Roman', monospace;
    overflow: hidden;
    cursor: var(--cursor);
    font-family: var(--bodyfont);
    background-color: var(--bgcolor);
    color: var(--textcolor);

    user-select: none;

    display: flex;
    flex-direction: column;
}

#appContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-color: var(--titlebarcolor);
    box-sizing: border-box;
}

canvas, #allthestuff, blurring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000;
    display: block;
    pointer-events: none;
    mix-blend-mode: normal;
}

button {
    width: 20ch;
    font-family: var(--bodyfont);
    margin: 0 auto;
    font-size: calc(var(--fontsize) * 2);
    cursor: pointer;
}

note {
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: wheat;
    height: calc(var(--tickheight) * 0.8);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

note[aria-active=false] {
    opacity: 0.2;
    background-color: none;
}

column {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: calc(100% - (var(--bottompadding)));
}

/* Remove top padding when in fullscreen */
body:fullscreen column,
body:-webkit-full-screen column,
body:-moz-full-screen column {
    padding-top: 0;
}

marquee {
    box-shadow: 2px 0px 2px inset var(--bgcolor), -2px 0px 2px var(--bgcolor)
}

sidecolumn {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: spacebetween;
    position: relative;
}

lettergrade {
    font-size: calc(var(--fontsize) * 10);
    width: 1ch;
    height: 150px;
    position: relative;
    text-align: center;
    font-family: var(--headfont);
}

h1 {
    font-family: var(--headfont);
    text-align: center;
    font-size: calc(var(--fontsize) * 3);
    margin: 0;
}

plusminus {
    font-size: 70px;
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-1ch);
    font-family: var(--headfont);
}

scorebar {
    display: block;
    height: calc(150px + 1lh);
    width: calc(var(--barwidth) * 2);
    background-color: var(--color1);
    margin-left: calc(var(--barwidth) * 3);
    bottom: 0;
    border-radius: var(--radius);
}

songname {
    width: 100%;
    margin: 50px;
    text-align: center;
}

#infobox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: fit-content;
}

#scorebox {
    display: flex;
    align-items: center;
    flex-direction: column
}

accuracy {
    display: block;
    text-align: center;
    height: 1lh;
}

notecontainer {
    flex: 0.6;
    display: flex;
    position: relative;
    background-color: lightslategrey;
}

hitline {
    bottom: calc((var(--tickheight) / 2));
    height: 1px;
    background-color: var(--tickcolor);
    width: 100%;
    position: absolute;
    z-index: 60;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    bottom: 0;
    box-sizing: border-box;
    gap: var(--tickgap);
    /* padding: 0 var(--tickgap) 0 var(--tickgap); */
}

ticksection {
    display: flex;
    width: calc(var(--tickheight) * 5);
    gap: calc(var(--tickheight) * 0.2);
    justify-content: space-between;
    align-items: center;
}

tick {
    height: var(--tickheight);
    width: var(--tickheight);
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: -2;
    border: 2px solid var(--tickcolor);
    margin: 0 auto;
    border-radius: var(--radius);
}

#Slane, #Jlane {
    order: 1
}

#Dlane, #Klane {
    order: 2
}

#Flane, #Llane {
    order: 3
}

#spacelane {
    border-radius: 100px;
}

tick[aria-pressed="true"] {
    background-color: var(--tickcolor);
    box-shadow: 0px 0px 10px 10px var(--accentcolor);
}

track {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(var(--bottompadding));
    bottom: var(--bottompadding);
    width: 1px;
    height: calc(100vh - var(--bottompadding) - var(--titlebarheight));
    background: linear-gradient(to top, var(--trackcolor), transparent);
    opacity: 0.7;
    z-index: -3;
}

songprogress {
    top: 0;
    left: 0;
    height: var(--barwidth);
    background-color: var(--color1);
    position: absolute;
    opacity: 0.5;
    z-index: 999;
    width: 90%;
    border-bottom-right-radius: var(--radius);
    transition: top var(--transitionspeed) ease;
}

hpbar {
    height: var(--hpwidth);
    border: 2px solid var(--color1);
    width: 80%;
    position: relative;
    display: flex;
    z-index: 2;
    background-color: var(--hpcolor);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

hpbar::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: var(--hp);
    max-width: 100%;
    z-index: 1;
    transition: width var(--transitionspeed) ease;
    opacity: 1;
    background-color: var(--hpcolor);
    filter: brightness(1.2) saturate(1.9) hue-rotate(40deg);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

hpbar::before {
    content: '';
    display: block;
    position: absolute;
    aspect-ratio: 1 / 1;
    height: var(--heartsize);
    left: calc(var(--heartsize) / -2);
    z-index: 3;
    top: calc(calc(calc(var(--heartsize) - var(--hpwidth)) / 2) * -1);
    animation: pulse var(--pulsespeed) ease-in-out infinite;
    /* fill: #FF5252;
    background-image: url('icons/heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    background: #FF5252;
    border-radius: 10px;
    clip-path: polygon(50% 15%,
            61% 6%, 75% 0%, 89% 6%, 95% 20%,
            95% 35%, 50% 85%,
            5% 35%, 5% 20%, 11% 6%, 25% 0%, 39% 6%);
    /* clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); */
}

countdownnumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    z-index: 1000;
    font-family: var(--headfont);
    border: 4px solid var(--trackcolor);
    border-radius: 50%;
    width: var(--countdownsize);
    aspect-ratio: 1 / 1;
    background-color: var(--bgcolor);
    box-shadow: 0px 0px 50px 10px black inset;
    overflow: hidden;
    text-align: center;
}

spinner svg {
    width: 100%;
    height: 100%;
}

spinner {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: calc(var(--countdownsize) + 90px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

spinner::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--countdownsize) + var(--countdownouterspinnerwidth));
    aspect-ratio: 1 / 0.5;
    transform-origin: 0 0;
    background-image: linear-gradient(transparent, black);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

modal {
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    padding: 5em;
    z-index: 69;

    display: flex;
    flex-direction: column;

    outline: 5px solid var(--color1);
    outline-offset: -10px;
    border: 3px solid var(--color1);
    background-color: wheat;
}

#pausemodal {
    visibility: hidden;
}

#deathmsg {
    visibility: hidden;
}

hitcomment {
    display: block;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    height: 1lh;
    font-size: 40px;
    z-index: 10;
    margin-top: 2lh;
    animation: slidedown 0.1s ease;
}

@keyframes slidedown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    
    100% {
        transform: none;
        opacity: 1
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        filter: brightness(0.9);
    }

    10% {
        transform: scale(1.15);
        filter: brightness(1.4);
    }

    25% {
        filter: brightness(1)
    }
}

modal, blurring, body {
    animation: fadeIn var(--transitionspeed) ease-in
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

overlay {
    bottom: 0;
    width: 100%;
    height: var(--bottompadding);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    backdrop-filter: blur(5px);
}

blurring {
    backdrop-filter: blur(8px);
    z-index: 68;
    background-color: rgba(0, 0, 0, 0.2);
}

flexcolumn {
    flex: 1;
    display: flex;
    align-items: center;
}