:root {
    --bottompadding: 10vh;
    --barwidth: 10px;
    --tickheight: calc(var(--barwidth) * 1.5);
    --tickgap: 20px;
    --hpwidth: calc(var(--barwidth) * 2.5);
    --heartsize: calc(var(--hpwidth) + 20px);
    --cursor: none;
    --pausemodalvisibility: hidden;
    --deathmsgvisibility: hidden;
    --fontsize: 18px;
    --accentcolor: purple;
    --bgcolor: gray;
}

body {
    background-color: var(--bgcolor);
    align-items: center;
    text-align: justify;
    margin: 0;
    font-size: var(--fontsize);
    font-family: 'Times New Roman', monospace;
    overflow: hidden;
    cursor: var(--cursor);
}

note {
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: wheat;
    height: calc(var(--tickheight) * 0.8);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

note[aria-active=false] {
    opacity: 0.2;
    background-color: none;
}

column {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: calc(100% - (var(--bottompadding)));
}

sidecolumn {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: spacebetween;
    position: relative;
}

lettergrade {
    font-size: calc(var(--fontsize) * 10);
    font-weight: bold;
    width: 1ch;
    height: 150px;
    position: relative;
    text-align: center;
}

plusminus {
    font-size: 70px;
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-1ch);
    font-family: var(--headfont);
}

scorebar {
    display: block;
    height: calc(150px + 1lh);
    width: calc(var(--barwidth) * 2);
    background-color: blueviolet;
    margin-left: calc(var(--barwidth) * 3);
    bottom: 0;
}

songname {
    width: 100%;
    margin: 50px;
    text-align: center;
}

#infobox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: fit-content;
}

#scorebox {
    display: flex;
    align-items: center;
    flex-direction: column
}

accuracy {
    display: block;
    text-align: center;
    height: 1lh;
}

notecontainer {
    flex: 0.8;
    display: flex;
    position: relative;
}

hitline {
    bottom: calc((var(--tickheight) / 2));
    height: 1px;
    background-color: black;
    width: 100%;
    position: absolute;
    z-index: 60;
}

gutter {
    display: flex;
    flex-direction: row;
    gap: var(--tickgap);
    width: 100%;
    bottom: 0;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0 var(--tickgap) 0 var(--tickgap);
}

tick {
    height: var(--tickheight);
    flex: 1;
    background-color: rgba(255, 192, 203, 1);
    position: relative;
    z-index: -2;
}

track {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(var(--bottompadding));
    bottom: var(--bottompadding);
    width: 2px;
    height: 100vh;
    background-color: var(--accentcolor);
    opacity: 0.7;
    z-index: -3;
}

songprogress {
    top: 0;
    left: 0;
    height: var(--barwidth);
    background-color: blue;
    position: fixed;
    opacity: 0.5;
    z-index: 999;
    width: 90%;
}

hpbar {
    height: var(--hpwidth);
    background-color: darkolivegreen;
    border: 2px solid blue;
    width: 80%;
    position: relative;
    display: flex;
    z-index: 2;
}

hpbar::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    background-color: forestgreen;
    width: var(--hp);
    max-width: 100%;
}

hpbar::before {
    content: '';
    display: block;
    position: absolute;
    aspect-ratio: 1 / 1;
    height: var(--heartsize);
    left: calc(var(--heartsize) / -2);
    z-index: 3;
    top: calc(calc(calc(var(--heartsize) - var(--hpwidth)) / 2) * -1);
    background: #FF5252;
    clip-path: polygon(50% 15%,
            61% 6%, 75% 0%, 89% 6%, 95% 20%,
            95% 35%, 50% 85%,
            5% 35%, 5% 20%, 11% 6%, 25% 0%, 39% 6%);
}

pausemodal,
deathmsg {
    height: 50%;
    width: 50%;
    background-color: wheat;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    visibility: var(--pausemodalvisibility);
    padding: 10ch;
    z-index: 69;
    display: flex;
    flex-direction: column;
    outline: 5px solid var(--accentcolor);
    outline-offset: -10px;
    border: 3px solid var(--accentcolor);
}

deathmsg {
    visibility: var(--deathmsgvisibility);
}

blurring, vignette {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

blurring {
    backdrop-filter: blur(8px);
    z-index: 68;
}

vignette {
    box-shadow: darkslategray 0px 0px 60px 10px inset;
    z-index: 67;
}

hitcomment {
    display: block;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    height: 1lh;
    font-size: 40px;
    z-index: 10;
    margin-top: 2lh;
}